body {
        background-color: #222;
}

#activationptions {
        justify-content: space-between;
        font-size: 15px;
        display: flex;
        flex-flow: row nowrap;
}

#animationtype,
#animationtime,
#rotationandmore {
        font-size: 16px;
        border: 1px solid white;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: black;
        color: white;
        height: 50px;
        width: 180px;
}

#boxarea {
        min-height: 70vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: nowrap;
}

#box {
        height: 200px;
        width: 200px;
        background-color: none;
        border: 3px solid white;
}

.hello {
        animation-name: slide;
        animation-direction: normal;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: ease;
}

@keyframes slide {
        0% {
                transform: translate(0px)
        }

        33% {
                transform: translate(250px)
        }

        66% {
                transform: translate(-250px)
        }

        100% {
                transform: translate(0px)
        }
}